<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/styles.css">
	<title> Fly Myrtle </title>
	<!-- Load React API -->
	<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<!-- Load React DOM-->
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	<!-- Load Babel Compiler -->
	<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
	<div id=wrap>
		<div id=header>
			<h1><a href="#">Fly Myrtle</a>
				<div id=root></div>
			</h1>
			<!--Just an attempt at REACT code-->
			<h2>
				<script id="clock" type="text/babel">
					//  JSX Babel code goes here
					function tick() {
						const element = (<h2>{new Date().toLocaleTimeString()}</h2>);
						ReactDOM.render(element, document.getElementById('root'));
					}
					setInterval(tick, 1000);
				</script>
			</h2>
			<!--------------------------------->
			<br>
		</div>

		<div id="nav">
			<ul>
				<li><a href=https://www.usca.edu class="button">USCA Main Website</a></li>
				<li><a href=https://youtube.com class="button">Youtube</a></li>
				<li><a href=https://twitter.com class="button">Twitter</a></li>
			</ul>
		</div>
		<div id=body>
			<div class="left">
				<p>Welcome to Fly Myrtle, a program made to show flights
					avaliable to Myrtle, SC for users looking to
					travel to the city!</p>
				<br>

				<form method="POST">
					<label for="airport">Enter departure location:</label>
					<input type="text" id="airport" name="airport" placeholder="Airport (Example: ATL)" maxlength="3"
						minlength="3" required>
					<br>
					<label for="departure">Enter departure date:</label>
					<input type="date" id="departure" name="departure"><br>
					<label for="return">Enter arrival date:</label>
					<input type="date" id="return" name="return"><br><br>
					<input type="submit" id="submit name=" submit>
				</form>

				<h2>Flights Avaliable</h2>
				<object id="table" name="table" data="../static/Test_Data.html" height="200px" width="1000px"></object>
			</div>
		</div>

		<div style="clear: both;"> </div>

		<div id=footer>
			<p>&copy; Copyright 2024 David Gomez and Brandon Payero</p>
			<ul>
				<li><a href=dogomez@usca.edu>dogomez@usca.edu</a></li>
				<li><a href=bpayero@usca.edu>bpayero@usca.edu</a></li>
			</ul>
		</div>
	</div>

</body>

</html>