<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/table-style.css">
    <title>FlyMyrtle Flights</title>

<script>
    document.getElementById("table").contentDocument.head.innerHTML += '<link rel="stylesheet" href="../static/table-style.css">';
</script>

</head>
<body>
    <div id=header>
        <h1>Flights</h1>
    </div>

    <div id="back">
        <button id="back-button" type="button" onclick="window.history.back()">Back</button>
    </div>
        <!-- The flight table that will be updated by main.py -->
    <div id="flight_table">
        <iframe id="table" name="table" src="../static/Flight_Data.html" height="1000px" width="1000px"></iframe>
    </div>
</body>
<div id=footer>
    <p>&copy; Copyright 2024 David Gomez and Brandon Payero</p>
    <ul>
        <li><a href=dogomez@usca.edu>dogomez@usca.edu</a></li>
        <li><a href=bpayero@usca.edu>bpayero@usca.edu</a></li>
    </ul>
</div>
</html>