body {
    background: #f8e8b7;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    background-image: url(myrtle.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
}

div#body {
    background: #1b3a2c no-repeat;
    color: #ffffff;
    display: flex;
    position: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.7;
    position: center fixed;
}

div#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#wrap {
    margin: 0 auto;
    width: auto;
}

#header {
    height: 70px;
    border-radius: 10px;
}

#header h1 {
    font-size: 40pt;
    font-weight: 100;
    letter-spacing: -3px;
    padding: 12px 0 5px 10px;
}

#header h1 a {
    color: #ffffff;
    text-decoration: none;
}

#header h1 a:hover {
    color: #eee;
    text-decoration: none;
}

#header h2 {
    color: #ffffff;
    font-size: 25pt;
    font-weight: 100;
    padding: 0 0 0 0;
    letter-spacing: -1px;
    line-height: 12px;
    float: right;
    text-align: justify;
}

#body {
    padding: 10px 20px;
}

.content {
    width: 568px;
    float: left;
    opacity: 1;

}

.content h2 {
    color: #fa966f;
    font-size: 26px;
    letter-spacing: -2px;
    font-weight: 100;
    padding: 10px 0 15px 10px;
    opacity: 1;
}

#footer {
    border-top: 1px solid #aaa;
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 0 0 10px 0;
    margin-top: 20px;
}

.links {
    font: bold 12px Arial;
    text-decoration: none;
    background-color: #2f422d;
    color: #d38551;
    padding: 4px 50px 4px 50px;
    border-radius: 10px;
    text-align: center;
}

li {
    display: inline;
    padding-left: 0px;
}

table {
    font-family: sans-serif;
    border-radius: 10px;
}

th,
td {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

th {
    background-color: #0a4e6d;
    color: #d38551;
    border-radius: 10px;
}

tr {
    background-color: #ffffff;
    border-radius: 10px;
}

input[type=text]:focus {
    background-color: rgb(176, 188, 192);
}